<div class="grid-item">
    <div class="{{post_class}}">
        <a class="post-link" href="{{url}}" >
            <img class="post-image lazyload" data-srcset="{{> srcset}}"
                data-sizes="auto" src="{{img_url feature_image size="s"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
                <h2 class="blog-feed-title">{{title}}</h2>
                <span class="post-caption-meta-item post-caption-meta-date">
                    <time
                        datetime="{{date format="YYYY-MM-DD"}}">{{date published_at}}</time>
                </span>
                <div class="blog-feed-excerpt">
                    {{excerpt words="24"}}...
                </div>
        </a>
        <a class="post-lightbox" href="{{img_url feature_image}}">
            <i class="icon icon-arrow-expand"></i>
        </a>
        
    </div>
</div>