<div class="blog-post-card">
            <div class="post-card-info">
                <h2 class="blog-post-title"><a href="{{url}}">{{title}}</h2></a>
                <div class="blog-post-meta">
                <time datetime="{{date format="YYYY-MM-DD"}}">Posted on {{date published_at}}</time>
                </div>
                {{#if feature_image}}
                <img class="hero-image" style="background-image:url({{img_url feature_image size="s"}})">
                {{/if}}
                <div class="blog-post-excerpt">{{content}}</div>
            </div>

</div>
<span class="separator"><span class="divider"></span></span>