<div class="podcasts">

<div class="podcasts-left">
    {{#get "posts" filter="tags:podcast" limit="2"}}
    {{#foreach posts}}
        <div class="podcast-card">
            <div class="post-card-image">
                <a class="post-card-image-wrap" href="{{url}}" style="background-image:url({{img_url feature_image size="s"}})"></a>
            </div>

                <div class="post-card-info">
                <h2 class="podcast-title"><a href="{{url}}">{{title}}</h2></a>
                <div class="podcast-meta">
                    <time datetime="{{date format="YYYY-MM-DD"}}">Posted on {{date published_at}}</time>
                </div>
            </div>

        </div>
    {{/foreach}}

</div>
<div class="podcasts-right">
    {{#get "posts" filter="tags:podcast+id:-[{{posts[*].id}}]" limit="2"}}
    {{#foreach posts}}
        <div class="podcast-card">
            <div class="post-card-image">
                <a class="post-card-image-wrap" href="{{url}}" style="background-image:url({{img_url feature_image size="s"}})"></a>
            </div>

                <div class="post-card-info">
                <h2 class="podcast-title"><a href="{{url}}">{{title}}</h2></a>
                <div class="podcast-meta">
                    <time datetime="{{date format="YYYY-MM-DD"}}">Posted on {{date published_at}}</time>
                </div>
            </div>

        </div>
    {{/foreach}}
    {{/get}}
    {{/get}}

</div>

</div>