<div class="grid-item">
    <figure class="{{post_class}}">
        <div class="post-link">
            <a class="post-lightbox" href="{{img_url feature_image}}">
            <img class="post-image lazyload" data-srcset="{{> srcset}}"
                data-sizes="auto" src="{{img_url feature_image size="s"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
            </a>
        </div>
        <a class="post-lightbox" href="{{img_url feature_image}}">
            <i class="icon icon-arrow-expand"></i>
        </a>
        
    </figure>
</div>